*~
*.o
*.lo
*.la
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
.deps
.libs
autom4te.cache
intltool-*
COPYING
INSTALL
*.pc
man/*.[18]
po/*.gmo

callouts/nm-dhcp-client.action
dispatcher-daemon/NetworkManagerDispatcher
initscript/*/NetworkManagerDispatcher
initscript/*/networkmanager-dispatcher
initscript/Slackware/rc.networkmanager
initscript/*/rc.networkmanager-dispatcher
initscript/*/[Nn]etwork[Mm]anager

*-glue.h
*-bindings.h
nm-marshal.[ch]
libnm-glib/libnm-glib-test
src/NetworkManager
src/nm-crash-logger
system-settings/src/nm-system-settings
test/libnm_glib_test
test/nm-online
test/nm-tool
test/nmtestdevices
libnm-util/test-crypto
libnm-util/tests/test-crypto
libnm-util/tests/test-settings-defaults
src/tests/test-dhcp-options
system-settings/plugins/keyfile/tests/test-keyfile

m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4

