*~
.*.swp
*.bak
*.o
*.lo
*.gcno
*.gcda
*.la
*.bz2
*.gir
*.typelib
*.stamp
*-enum-types.[ch]
*.loT
Makefile
Makefile.in*
compile
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
.deps
.libs
gtk-doc.make
*.pc
cscope.*out
valgrind-*.log
test-*.log
test-*.trs
*-glue.h

/ABOUT-NLS
/COPYING
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/intltool-*

/confdefs.h
/conftest.[ch]
/conftest.o.*

/callouts/nm-avahi-autoipd.action
/callouts/nm-dispatcher
/callouts/nmdbus-dispatcher.*
/callouts/org.freedesktop.nm_dispatcher.service
/callouts/tests/test-dispatcher-envp

/clients/cli/nmcli
/clients/cli/settings-docs.c
/clients/tui/newt/libnmt-newt.a
/clients/tui/nmtui
/clients/nm-online

/data/NetworkManager.service
/data/NetworkManager-wait-online.service
/data/NetworkManager-dispatcher.service
/data/org.freedesktop.NetworkManager.service
/data/server.conf

/docs/api/version.xml
/docs/api/settings-spec.html
/docs/api/settings-spec.xml
/docs/api/spec.html
/docs/api/*.stamp
/docs/api/html/
/docs/api/tmpl/
/docs/api/xml/
/docs/api/NetworkManager-*.txt
/docs/api/NetworkManager-decl-list.txt.bak
/docs/api/NetworkManager-decl.txt.bak
/docs/api/NetworkManager.args
/docs/api/NetworkManager.hierarchy
/docs/api/NetworkManager.interfaces
/docs/api/NetworkManager.prerequisites
/docs/api/NetworkManager.signals
/docs/api/NetworkManager.types

/docs/libnm-glib/*.stamp
/docs/libnm-glib/html/
/docs/libnm-glib/tmpl/
/docs/libnm-glib/xml/
/docs/libnm-glib/libnm-glib-*.txt
/docs/libnm-glib/libnm-glib.args
/docs/libnm-glib/libnm-glib.hierarchy
/docs/libnm-glib/libnm-glib.interfaces
/docs/libnm-glib/libnm-glib.prerequisites
/docs/libnm-glib/libnm-glib.signals
/docs/libnm-glib/version.xml

/docs/libnm-util/*.stamp
/docs/libnm-util/html/
/docs/libnm-util/tmpl/
/docs/libnm-util/xml/
/docs/libnm-util/libnm-util-*.txt
/docs/libnm-util/libnm-util-decl-list.txt.bak
/docs/libnm-util/libnm-util-decl.txt.bak
/docs/libnm-util/libnm-util.args
/docs/libnm-util/libnm-util.hierarchy
/docs/libnm-util/libnm-util.interfaces
/docs/libnm-util/libnm-util.prerequisites
/docs/libnm-util/libnm-util.signals
/docs/libnm-util/libnm-util.types
/docs/libnm-util/version.xml

/docs/libnm/*.stamp
/docs/libnm/html/
/docs/libnm/tmpl/
/docs/libnm/xml/
/docs/libnm/libnm-*.txt
/docs/libnm/libnm.args
/docs/libnm/libnm.hierarchy
/docs/libnm/libnm.interfaces
/docs/libnm/libnm.prerequisites
/docs/libnm/libnm.signals
/docs/libnm/libnm.types
/docs/libnm/version.xml

/examples/C/glib/add-connection-gdbus
/examples/C/glib/add-connection-libnm
/examples/C/glib/get-active-connections-gdbus
/examples/C/glib/get-ap-info-libnm
/examples/C/glib/list-connections-gdbus
/examples/C/glib/list-connections-libnm
/examples/C/glib/monitor-nm-running-gdbus
/examples/C/glib/monitor-nm-state-gdbus
/examples/C/qt/add-connection-wired
/examples/C/qt/list-connections
/examples/C/qt/change-ipv4-addresses

/initscript/Slackware/rc.networkmanager
/initscript/*/[Nn]etwork[Mm]anager

/introspection/all.xml
/introspection/nmdbus-*.c
/introspection/nmdbus-*.h

/libgsystem/

/libnm-core/nm-version.h
/libnm-core/tests/test-compare
/libnm-core/tests/test-crypto
/libnm-core/tests/test-settings-defaults
/libnm-core/tests/test-general
/libnm-core/tests/test-keyfile
/libnm-core/tests/test-need-secrets
/libnm-core/tests/test-secrets
/libnm-core/tests/test-setting-8021x
/libnm-core/tests/test-setting-dcb

/libnm-glib/libnm-glib-test
/libnm-glib/tests/test-nm-client
/libnm-glib/tests/test-remote-settings-client

/libnm-util/nm-version.h
/libnm-util/test-crypto
/libnm-util/tests/test-crypto
/libnm-util/tests/test-settings-defaults
/libnm-util/tests/test-general
/libnm-util/tests/test-libnm-linking
/libnm-util/tests/test-need-secrets
/libnm-util/tests/test-secrets
/libnm-util/tests/test-setting-8021x
/libnm-util/tests/test-setting-dcb

/libnm/nm-ifcfg-rh-docs.xml
/libnm/nm-keyfile-docs.xml
/libnm/nm-property-docs.xml
/libnm/nm-setting-docs.xml
/libnm/nm-setting-docs-overrides.xml
/libnm/tests/test-nm-client
/libnm/tests/test-remote-settings-client
/libnm/tests/test-secret-agent

/m4/codeset.m4
/m4/gettext.m4
/m4/glibc2.m4
/m4/glibc21.m4
/m4/gtk-doc.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intltool.m4
/m4/intmax.m4
/m4/inttypes-pri.m4
/m4/inttypes_h.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lock.m4
/m4/longlong.m4
/m4/lt*.m4
/m4/nls.m4
/m4/po.m4
/m4/printf-posix.m4
/m4/progtest.m4
/m4/size_max.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4

/man/*.[185]
/man/NetworkManager.conf.xml
/man/nm-settings.xml
/man/nm-settings-ifcfg-rh.xml
/man/nm-settings-keyfile.xml

/po/*.gmo
/po/.intltool-merge-cache
/po/NetworkManager.pot
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin

/policy/org.freedesktop.NetworkManager.policy
/policy/org.freedesktop.NetworkManager.policy.in

/src/NetworkManager
/src/devices/wifi/tests/test-wifi-ap-utils
/src/dhcp-manager/nm-dhcp-helper
/src/dhcp-manager/tests/test-dhcp-dhclient
/src/dhcp-manager/tests/test-dhcp-options
/src/dhcp-manager/tests/test-dhcp-utils
/src/dnsmasq-manager/tests/test-dnsmasq-utils
/src/nm-iface-helper
/src/rdisc/tests/test-rdisc-fake
/src/rdisc/tests/test-rdisc-linux
/src/settings/plugins/ibft/tests/test-ibft
/src/settings/plugins/ifcfg-rh/nmdbus-ifcfg-rh.[ch]
/src/settings/plugins/ifcfg-rh/tests/test-ifcfg-rh
/src/settings/plugins/ifcfg-rh/tests/test-ifcfg-rh-utils
/src/settings/plugins/ifnet/tests/test-ifnet
/src/settings/plugins/ifupdown/tests/test-ifupdown
/src/settings/plugins/keyfile/tests/test-keyfile
/src/supplicant-manager/tests/test-supplicant-config
/src/tests/config/test-config
/src/tests/test-dcb
/src/tests/test-general
/src/tests/test-general-with-expect
/src/tests/test-ip4-config
/src/tests/test-ip6-config
/src/tests/test-resolvconf-capture
/src/tests/test-route-manager-fake
/src/tests/test-route-manager-linux
/src/tests/test-wired-defname

/vapi/*.vapi
