*~
*.o
*.lo
*.la
*.bz2
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
.deps
.libs
autom4te.cache
intltool-*
gtk-doc.make
TAGS
COPYING
INSTALL
*.pc
man/*.[185]
po/*.gmo
po/.intltool-merge-cache

include/nm-version.h

docs/libnm-glib/*.stamp
docs/libnm-glib/html/
docs/libnm-glib/tmpl/
docs/libnm-glib/xml/
docs/libnm-glib/libnm-glib-*.txt
docs/libnm-glib/libnm-glib.args
docs/libnm-glib/libnm-glib.hierarchy
docs/libnm-glib/libnm-glib.interfaces
docs/libnm-glib/libnm-glib.prerequisites
docs/libnm-glib/libnm-glib.signals

docs/libnm-util/*.stamp
docs/libnm-util/html/
docs/libnm-util/tmpl/
docs/libnm-util/xml/
docs/libnm-util/libnm-util-*.txt
docs/libnm-util/libnm-util-decl-list.txt.bak
docs/libnm-util/libnm-util-decl.txt.bak
docs/libnm-util/libnm-util.args
docs/libnm-util/libnm-util.hierarchy
docs/libnm-util/libnm-util.interfaces
docs/libnm-util/libnm-util.prerequisites
docs/libnm-util/libnm-util.signals
docs/libnm-util/libnm-util.types

docs/generate-settings-spec
docs/settings-spec.html
docs/spec.html

callouts/nm-dhcp-client.action
callouts/nm-avahi-autoipd.action
callouts/nm-dispatcher.action
callouts/org.freedesktop.nm_dispatcher.service
callouts/nm-modem-probe
dispatcher-daemon/NetworkManagerDispatcher
initscript/*/NetworkManagerDispatcher
initscript/*/networkmanager-dispatcher
initscript/Slackware/rc.networkmanager
initscript/*/rc.networkmanager-dispatcher
initscript/*/[Nn]etwork[Mm]anager

*-glue.h
*-bindings.h
nm-marshal.[ch]
libnm-glib/libnm-glib-test
src/NetworkManager
src/nm-crash-logger
src/supplicant-manager/tests/test-supplicant-config
system-settings/src/nm-system-settings
system-settings/src/org.freedesktop.NetworkManagerSystemSettings.service
test/libnm-glib-test
test/libnm_glib_test
test/nm-online
test/nm-tool
test/nmtestdevices
libnm-util/test-crypto
libnm-util/tests/test-crypto
libnm-util/tests/test-settings-defaults
libnm-util/tests/test-general
libnm-util/tests/test-need-secrets
libnm-util/tests/test-setting-8021x
src/tests/test-dhcp-options
src/tests/test-policy-hosts
src/dhcp-manager/tests/test-dhcp-dhclient

system-settings/plugins/keyfile/tests/test-keyfile
system-settings/plugins/ifcfg-rh/tests/test-ifcfg-rh
system-settings/plugins/ifcfg-rh/tests/test-ifcfg-rh-utils
system-settings/plugins/ifcfg-rh/tests/network-scripts/Test_Write_*
system-settings/plugins/ifcfg-rh/tests/network-scripts/*-Test_Write_*

m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4

policy/org.freedesktop.network-manager-settings.system.policy
policy/org.freedesktop.NetworkManager.policy

data/NetworkManager.service
data/org.freedesktop.NetworkManager.service

cli/src/nmcli
