[submodule "subprojects/c-list"]
	path = subprojects/c-list
	url = https://github.com/c-util/c-list.git
[submodule "subprojects/c-siphash"]
	path = subprojects/c-siphash
	url = https://github.com/c-util/c-siphash.git
[submodule "subprojects/c-stdaux"]
	path = subprojects/c-stdaux
	url = https://github.com/c-util/c-stdaux.git
